@model Fasting.Models.Rhythm

@{
    ViewData["Title"] = "Edit";
    var timeTag = "AM";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ratio" class="control-label"></label>
                <select id=Ratio asp-for="Ratio" value="16" class="form-control">
                    <option value="16">16:8</option>
                    <option value="18">18:6</option>
                    <option value="20">20:4</option>
                    <option value="36">36</option>
                </select>
                <span asp-validation-for="Ratio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <select id="Start" asp-for="StartTime">
                    @{
                        var hourFormat = 0;
                        for (int i = 0; i < 24; i++)
                        {
                            hourFormat = i == 0 ? hourFormat = 12 : i < 13 ? hourFormat = 0 : -12;
                            timeTag = i > 11 && i != 0 ? timeTag = "PM" : "AM";
                            <option value="@DateTime.Now.ToString($"MM/dd/yyyy {i}:00")">@($"{hourFormat + i}:00") @timeTag</option>
                        }
                    }
                </select>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input id="End" asp-for="EndTime" type="text" value="" readonly />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" hidden></label>
                <select asp-for="Days" hidden>
                    @{
                        for (int i = 1; i <= 30; i++)
                        {
                            <option>@i</option>
                        }
                    }
                </select>
                <span asp-validation-for="Days"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Achieved" /> @Html.DisplayNameFor(model => model.Achieved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/Rhythm.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
