@model IEnumerable<Fasting.Models.Rhythm>

@{
    ViewData["Title"] = "Index";
    var nowDay = DateTime.Now;

    var sortedRhythmList = Model.OrderByDescending(x => x.StartTime).ToList();

    @functions{
        private string TableRowColor(Rhythm rhythm)
        {
            var color = "";

            if (rhythm.EndTime < DateTime.Now)
                color = rhythm.Achieved ? "bg-success" : "bg-warning";

            return color;
        }
        private bool CheckDisabled(Rhythm rhythm)
        {
            return DateTime.Now < rhythm.EndTime;
        }
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="bg-dark text-light">
            <th>
                @Html.DisplayNameFor(model => model.Ratio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achieved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sortedRhythmList)
        {
            <tr class=@TableRowColor(item)>
                <td>
                    @Html.DisplayFor(modelItem => item.Ratio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <form asp-action="MarkDone" method="POST">
                        <input type="checkbox" class="done-checkbox" checked="@item.Achieved" disabled=@CheckDisabled(item) />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
